<h2>ABOUT US - OUR TEAM</h2>
<br>
<ul>
 <img src="/images/max.png" alt="Max" height="150px" width="150px">
    <h3>Max</h3>
     <h4>This is the guy you want in your corner when comes to reading books.</h4>

<br>
<br>
 <img src="/images/alan.png" alt="Alan" height="150px" width="150px">
    <h3>Alan</h3>
     <h4>This is the guy you want on your side if you wanna listen some cool tracks.</h4>
</ul>