<h2>Enter a new BOOK for sale</h2>

<form method="post" action="/create">
  <label>Title</label>
  <input name="title" />

  <label>Cover Image</label>
  <input name="link to image" />

  <label>Genre</label>
  <input name="genre" />

   <label>Rating</label>
  <input name="genre" />

   <label>Author</label>
  <input name="genre" />

  <label>Price</label>
  <input name="price" />

  <button type="submit">Add record</button>
</form>