<h2>Enter a new RECORD for sale</h2>

<form method="post" action="/create">
  <label>Artist</label>
  <input name="artist" />

  <label>Genre</label>
  <input name="genre" />

  <label>Release Year</label>
  <input name="releaseYear" />

  {{!-- <label>Available</label>
  <input name="available" /> --}}

  <label>Price</label>
  <input name="price" />

  <button type="submit">Add record</button>
</form>