<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    <nav>

      <img class="navimg" src="/images/irontunes-logo.png" alt="irontumes-logo">
      <a href="/">Home</a>
      <a href="/books">Books</a>
      <a href="/records">Records</a>
      <a href="/aboutus">About us</a>         
    </nav>

    
    {{{body}}}
  </body>
</html>
