<h2>RECORDS FOR SALE</h2>

<div><a href="create-record">Click here to add new records</a></div>
{{#each recordsArr}}

  <ul>
      <li></li>
    <a href="/records/{{this}}">{{this}}</a>
  </ul>
{{/each}}


